<p-chip label="{{ingredient.description}}" (click)="op.toggle($event)"></p-chip>
<p-overlayPanel #op>
    <div class="flex flex-column gap-2" *ngFor="let nutrient of ingredient.nutrients">
        <div class="flex align-items-center gap-2">
            <p-knob id="Calorias-knob"
                [ngModel]="((nutrient.amount/nutrientsTotalsMap.get(nutrient.id)!)*100).toFixed(2)" [readonly]="true"
                [size]="50" />
            <label>
                {{nutrient.amount}}
                {{nutrient.unit}}
                <span>{{nutrient.name}}<i class="fa-solid fa-{{nutrient.icon}} ml-2"></i></span>
            </label>
        </div>
    </div>
</p-overlayPanel>