<h2>Comidas de hoy</h2>
<div class="flex gap-3 today-meals">
    <p-card header="390 Calorias" subheader="Almuerzo" class="border-round-xl meal-card" [style]="{ width: '360px' }">
        <div class="flex flex-wrap gap-2 ingredients">
            <p-chip label="Smashed potatoes" (click)="op.toggle($event)"></p-chip>
            <p-chip label="Coca Cola 0.5L" (click)="op1.toggle($event)"></p-chip>
            <p-chip label="Raice" (click)="op2.toggle($event)"></p-chip>
            <p-chip label="Cheese" (click)="op3.toggle($event)"></p-chip>
        </div>
        <p-overlayPanel #op>
            <div class="flex align-items-center gap-2">
                <p-knob id="Calorias-knob" [(ngModel)]="value" [readonly]="true" [size]="50"></p-knob>
                <label>195 Calorias</label>
            </div>
        </p-overlayPanel>
        <p-overlayPanel #op1>
            <div class="flex align-items-center gap-2">
                <p-knob id="Calorias-knob" [(ngModel)]="value" [readonly]="true" [size]="50"></p-knob>
                <label>95 Calorias</label>
            </div>
        </p-overlayPanel>
        <p-overlayPanel #op2>
            <div class="flex align-items-center gap-2">
                <p-knob id="Calorias-knob" [(ngModel)]="value" [readonly]="true" [size]="50"></p-knob>
                <label>50 Calorias</label>
            </div>
        </p-overlayPanel>
        <p-overlayPanel #op3>
            <div class="flex align-items-center gap-2">
                <p-knob id="Calorias-knob" [(ngModel)]="value" [readonly]="true" [size]="50"></p-knob>
                <label>50 Calorias</label>
            </div>
        </p-overlayPanel>
    </p-card>
    <p-card header="390 Calorias" subheader="Almuerzo" class="border-round-xl meal-card" [style]="{ width: '360px' }">
        <div class="flex flex-wrap gap-2 ingredients">
            <p-chip label="Smashed potatoes" (click)="op.toggle($event)"></p-chip>
            <p-chip label="Coca Cola 0.5L" (click)="op1.toggle($event)"></p-chip>
            <p-chip label="Raice" (click)="op2.toggle($event)"></p-chip>
            <p-chip label="Cheese" (click)="op3.toggle($event)"></p-chip>
        </div>
        <p-overlayPanel #op>
            <div class="flex align-items-center gap-2">
                <p-knob id="Calorias-knob" [(ngModel)]="value" [readonly]="true" [size]="50"></p-knob>
                <label>195 Calorias</label>
            </div>
        </p-overlayPanel>
        <p-overlayPanel #op1>
            <div class="flex align-items-center gap-2">
                <p-knob id="Calorias-knob" [(ngModel)]="value" [readonly]="true" [size]="50"></p-knob>
                <label>95 Calorias</label>
            </div>
        </p-overlayPanel>
        <p-overlayPanel #op2>
            <div class="flex align-items-center gap-2">
                <p-knob id="Calorias-knob" [(ngModel)]="value" [readonly]="true" [size]="50"></p-knob>
                <label>50 Calorias</label>
            </div>
        </p-overlayPanel>
        <p-overlayPanel #op3>
            <div class="flex align-items-center gap-2">
                <p-knob id="Calorias-knob" [(ngModel)]="value" [readonly]="true" [size]="50"></p-knob>
                <label>50 Calorias</label>
            </div>
        </p-overlayPanel>
    </p-card>
    <p-card header="390 Calorias" subheader="Almuerzo" class="border-round-xl meal-card" [style]="{ width: '360px' }">
        <div class="flex flex-wrap gap-2 ingredients">
            <p-chip label="Smashed potatoes" (click)="op.toggle($event)"></p-chip>
            <p-chip label="Coca Cola 0.5L" (click)="op1.toggle($event)"></p-chip>
            <p-chip label="Raice" (click)="op2.toggle($event)"></p-chip>
            <p-chip label="Cheese" (click)="op3.toggle($event)"></p-chip>
        </div>
        <p-overlayPanel #op>
            <div class="flex align-items-center gap-2">
                <p-knob id="Calorias-knob" [(ngModel)]="value" [readonly]="true" [size]="50"></p-knob>
                <label>195 Calorias</label>
            </div>
        </p-overlayPanel>
        <p-overlayPanel #op1>
            <div class="flex align-items-center gap-2">
                <p-knob id="Calorias-knob" [(ngModel)]="value" [readonly]="true" [size]="50"></p-knob>
                <label>95 Calorias</label>
            </div>
        </p-overlayPanel>
        <p-overlayPanel #op2>
            <div class="flex align-items-center gap-2">
                <p-knob id="Calorias-knob" [(ngModel)]="value" [readonly]="true" [size]="50"></p-knob>
                <label>50 Calorias</label>
            </div>
        </p-overlayPanel>
        <p-overlayPanel #op3>
            <div class="flex align-items-center gap-2">
                <p-knob id="Calorias-knob" [(ngModel)]="value" [readonly]="true" [size]="50"></p-knob>
                <label>50 Calorias</label>
            </div>
        </p-overlayPanel>
    </p-card>
    <p-card header="390 Calorias" subheader="Almuerzo" class="border-round-xl meal-card" [style]="{ width: '360px' }">
        <div class="flex flex-wrap gap-2 ingredients">
            <p-chip label="Smashed potatoes" (click)="op.toggle($event)"></p-chip>
            <p-chip label="Coca Cola 0.5L" (click)="op1.toggle($event)"></p-chip>
            <p-chip label="Raice" (click)="op2.toggle($event)"></p-chip>
            <p-chip label="Cheese" (click)="op3.toggle($event)"></p-chip>
        </div>
        <p-overlayPanel #op>
            <div class="flex align-items-center gap-2">
                <p-knob id="Calorias-knob" [(ngModel)]="value" [readonly]="true" [size]="50"></p-knob>
                <label>195 Calorias</label>
            </div>
        </p-overlayPanel>
        <p-overlayPanel #op1>
            <div class="flex align-items-center gap-2">
                <p-knob id="Calorias-knob" [(ngModel)]="value" [readonly]="true" [size]="50"></p-knob>
                <label>95 Calorias</label>
            </div>
        </p-overlayPanel>
        <p-overlayPanel #op2>
            <div class="flex align-items-center gap-2">
                <p-knob id="Calorias-knob" [(ngModel)]="value" [readonly]="true" [size]="50"></p-knob>
                <label>50 Calorias</label>
            </div>
        </p-overlayPanel>
        <p-overlayPanel #op3>
            <div class="flex align-items-center gap-2">
                <p-knob id="Calorias-knob" [(ngModel)]="value" [readonly]="true" [size]="50"></p-knob>
                <label>50 Calorias</label>
            </div>
        </p-overlayPanel>
    </p-card>
</div>