<div class="flex flex-column gap-4 p-4">
    <div class="flex flex-row justify-content-between align-items-center">
        <div class="flex flex-column">
            <h1 class="mb-2">Hola, {{user.name}}</h1>
            <label class="text-600">Sigue tu control nutricional</label>
        </div>
        <p-button (click)="showAddMealModal()">
            <i class="fa-solid fa-plus mr-2"></i>
            Agregar comida
        </p-button>
    </div>
    <p-card header="Calorias" subheader="Restantes = Meta - Consumidas">
        <div class="flex flex-row gap-4">
            <circle-progress [percent]="(todayCalories/user.goal)*100"
                [title]="(getAbsoluteCalories(user.goal-todayCalories)).toFixed(2)" titleFontSize="26"
                [subtitle]="getCaloriesGraphSubtitle()" subtitleColor="dark" subtitleFontWeight="600"
                titleFontWeight="900" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                [outerStrokeColor]="(user.goal-todayCalories) < 0 ? '#e35b68' : '#3b82f6'"
                [innerStrokeColor]="'#e9e9ee'" [animation]="true" [animationDuration]="300"></circle-progress>
            <div class="flex flex-column md:flex-row gap-4 w-full justify-content-between align-items-start">
                <div class="flex flex-row gap-3 align-items-center stat">
                    <i class="fa-solid fa-flag"></i>
                    <div class="flex flex-column gap-1">
                        <span>Meta</span>
                        <span>{{user.goal}}</span>
                    </div>
                </div>
                <div class="flex flex-row gap-3 align-items-center stat">
                    <i class="fa-solid fa-utensils"></i>
                    <div class="flex flex-column gap-1">
                        <span>Comidas</span>
                        <span>{{todayCalories}}</span>
                    </div>
                </div>
                <div class="flex flex-row gap-3 align-items-center stat">
                </div>
            </div>
        </div>
    </p-card>
    <h2>Comidas de hoy</h2>
    <div class="flex gap-3 flex-wrap">
        <ng-container *ngIf="isLoading">
            <meal-card-skeleton />
            <meal-card-skeleton />
            <meal-card-skeleton />
        </ng-container>
        <home-meal-card (deleteMeal)="deleteMeal($event)" [meal]="meal" *ngFor=" let meal of meals"
            (handleEditMeal)="handleEditMeal($event)" />
    </div>
</div>
<add-meal-modal (addMeal)="addMeal($event)" [visible]="isAddMealModalVisible"
    (visibleChange)="onAddMealModalClose($event)" />
<app-edit-meal-modal (editMeal)="editMeal($event)" (visibleChange)="onEditMealModalClose($event)"
    [visible]="isEditMealModalVisible" [meal]="selectedMeal" *ngIf="selectedMeal" />