<p-chip label="{{detailedIngredient?.description}}" (click)="op.toggle($event)"></p-chip>
<p-overlayPanel #op>
    <div class="flex align-items-center gap-2" *ngIf="detailedIngredient?.nutrients?.calories">
        <p-knob id="Calorias-knob" [ngModel]="100" [readonly]="true" [size]="50" />
        <label>
            {{detailedIngredient?.nutrients?.calories?.amount}}
            {{detailedIngredient?.nutrients?.calories?.unit}}
            <span>Calorias</span>
        </label>
    </div>
    <div class="flex align-items-center gap-2" *ngIf="detailedIngredient?.nutrients?.carbohidrates">
        <p-knob id="Calorias-knob" [ngModel]="100" [readonly]="true" [size]="50" />
        <label>
            {{detailedIngredient?.nutrients?.carbohidrates?.amount}}
            {{detailedIngredient?.nutrients?.proteins?.unit}}
            <span>Carbohidratos</span>
        </label>
    </div>
    <div class="flex align-items-center gap-2" *ngIf="detailedIngredient?.nutrients?.proteins?.amount">
        <p-knob id="Calorias-knob" [ngModel]="100" [readonly]="true" [size]="50" />
        <label>
            {{detailedIngredient?.nutrients?.proteins?.amount}}
            {{detailedIngredient?.nutrients?.proteins?.unit}}
            <span>Proteinas</span>
        </label>
    </div>
    <div class="flex align-items-center gap-2" *ngIf="detailedIngredient?.nutrients?.sugars?.amount">
        <p-knob id="Calorias-knob" [ngModel]="100" [readonly]="true" [size]="50" />
        <label>
            {{detailedIngredient?.nutrients?.sugars?.amount}}
            {{detailedIngredient?.nutrients?.sugars?.unit}}
            <span>Azucares</span>
        </label>
    </div>
</p-overlayPanel>