/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f9f9f9 !important;
    height: 100vh;
    margin: 0px;
    display: flex;
    width: 100%;
}

app-root {
    height: 100%;
    width: 100%;
}